.home .content {
  display: grid;
  grid-template-columns: 69% 30%;
  justify-content: space-between;
  align-items: stretch;
}
.home .content .main-list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 16px;
}
.home .content .main-list .introduce {
  display: grid;
  color: #fff;
  padding: 10px;
  grid-template-columns: 40% 12% 12% 36%;
  background: #40a9ff;
}
.home .content .main-list .list .item {
  display: grid;
  grid-template-columns: 5% 35% 12% 12% 36%;
  align-items: center;
  border: 1px solid #e4e4e4;
  padding: 10px;
  transition: 0.3s;
}
.home .content .main-list .list .item:hover {
  background: #e7e4e4;
}
.home .content .main-list .list .item .item-logo {
  color: #096dd9;
  font-size: 30px;
}
.home .content .main-list .list .item .headline {
  font-size: 20px;
  color: #1890ff;
  font-weight: bold;
}
.home .content .main-list .list .item .headline a {
  font-size: 20px;
  transition: 0.3s;
  color: #1890ff;
}
.home .content .main-list .list .item .headline a:hover {
  text-decoration: underline;
}
.home .content .main-list .list .item .newest-post {
  display: grid;
  grid-template-columns: 18% 80%;
  align-items: center;
  justify-content: space-between;
}
.home .content .main-list .list .item .newest-post .avatar img {
  width: 100%;
  height: 100%;
  margin-right: auto;
  border-radius: 50%;
}
.home .content .main-list .list .item .newest-post .info {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 3px;
}
.home .content .main-list .list .item .newest-post .info .name {
  cursor: pointer;
  color: #1890ff;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home .content .main-list .list .item .newest-post .info .name:hover {
  text-decoration: underline;
}
.home .content .main-list .list .item .newest-post .info .time {
  color: #8c8c8c;
}
.home .content .main-list .list .item .newest-post .info .author {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home .content .main-list .list .item .newest-post .info .author a {
  color: #1890ff;
}
.home .content .main-list .list .item .newest-post .info .author a:hover {
  text-decoration: underline;
}
.home .content .bonus-info-list {
  border: 1px solid black;
}
